# Backend
backend/target/
backend/.maven/
backend/.node/
backend/financeiro.db
backend/financeiro.db.bak
backend/src/main/resources/static/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store

# Banco local (raiz)
/financeiro.db
/financeiro.db.bak
