SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/financeiro
SPRING_DATASOURCE_USERNAME=financeiro
SPRING_DATASOURCE_PASSWORD=financeiro
JWT_SECRET=gere-com-openssl-rand-base64-32-precisa-ter-32-bytes
